In [1]:
2+3

5

In [3]:
4*5

20

In [4]:
"Katya"

'Katya'

In [6]:
"He there "+"Katya"

'He there Katya'

In [7]:
"Katya"*3

'KatyaKatyaKatya'

In [9]:
"Katya".upper()

'KATYA'

In [12]:
len("Katya")

5

In [14]:
len(str(304203))

6

In [15]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [16]:
name = "Katya"

In [17]:
name

'Katya'

In [18]:
name = "Tanya"

In [19]:
name

'Tanya'

In [20]:
len(name)

5

In [21]:
a=4

In [22]:
b=6

In [23]:
a*b

24

In [24]:
city = "Tokyo"

In [25]:
city

'Tokyo'

In [26]:
ctiy

NameError: name 'ctiy' is not defined

In [27]:
city

'Tokyo'

In [28]:
print(name)

Tanya

In [29]:
{}

{}

In [30]:
[]

[]

In [31]:
lottery = [3, 42, 12, 19, 30, 59]

In [32]:
len(lottery)

6

In [33]:
lottery.sort()

In [35]:
print(lottery)

[3, 12, 19, 30, 42, 59]

In [36]:
lottery.reverse()

In [37]:
print(lottery)

[59, 42, 30, 19, 12, 3]

In [39]:
lottery.append(199)

In [40]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [41]:
print(lottery[0])

59

In [42]:
print(lottery[1])

42

In [44]:
print(lottery)

[59, 42, 30, 19, 12, 3, 199]

In [45]:
lottery.pop(0)

59

In [46]:
print(lottery)

[42, 30, 19, 12, 3, 199]

In [47]:
participant = {'name': 'Katya', 'country': 'Russia', 'favorite_numbers': [7, 42, 92]}

In [48]:
print(participant['name'])

Katya

In [49]:
participant['age']

KeyError: 'age'

In [50]:
participant['favorite_language'] = 'Python'

In [51]:
len(participant)

4

In [52]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [53]:
participant

{'name': 'Katya', 'country': 'Russia', 'favorite_language': 'Python'}

In [54]:
participant['country'] = 'Germany'

In [55]:
participant

{'name': 'Katya', 'country': 'Germany', 'favorite_language': 'Python'}

In [56]:
5 > 2

True

In [57]:
6 > 2 and 2 < 3

True

In [58]:
1 > 'django'

TypeError: '>' not supported between instances of 'int' and 'str'

In [59]:
a = True

In [60]:
a

True

In [61]:
a = 2 > 5

In [62]:
a

False

In [63]:
python_intro.py
if 3 > 2:

SyntaxError: unexpected EOF while parsing (<ipython-input-63-d5778d6a0130>, line 2)

In [64]:
if 3 > 2:
    print('It works!')

It works!

In [66]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [67]:
name = 'Sonja'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Sonja':
    print('Hey Sonja!')

Hey Sonja!

In [68]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

In [69]:
# Change the volume if it's too loud or too quiet
if volume < 20 or volume > 80:
    volume = 50
    print("That's better!")

In [74]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

Hi there!
How are you?

In [78]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja!')
    else:
        print('Hi anonymous!')

hi("Katya")

Hi anonymous!

In [79]:
def hi(name):
    print('Hi ' + name + '!')

hi("Rachel")

Hi Rachel!

In [80]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

In [81]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [82]:
for i in range(1, 6):
    print(i)

1
2
3
4
5